<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>

    <header>
    <nav>
      <span class="logo">Smartphone Reparatur Wiesbaden</span>
      <ul>
        <a href="/">
        <li>Home</li>
        </a>
        <a href="/service">
          <li>Service</li>
        </a>
      </ul>
    </nav>

  </header>


    <main>
      {{ content}}
    </main>
  </body>
</html>
